<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490016880198-7alh158quo4gbafo0gtc2h3e041tf8qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490016880198-7alh158quo4gbafo0gtc2h3e041tf8qr</string>
	<key>API_KEY</key>
	<string>AIzaSyDNBSePOls6724o4I744yV-CyGiKigFwWU</string>
	<key>GCM_SENDER_ID</key>
	<string>490016880198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>save-food-e4e4e</string>
	<key>STORAGE_BUCKET</key>
	<string>save-food-e4e4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490016880198:ios:3547c4eaca711b6cd0bc47</string>
	<key>DATABASE_URL</key>
	<string>https://save-food-e4e4e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>